---
const {posts} = Astro.props;

//components 
import PostCard from "./PostCard.astro";
---

<div class="l-post-list">
    <div class="l-post-list__inner">
      {
        posts.map(post => <PostCard post={post} />)
      }
    </div>
</div>
