---
//import layout
import BaseLayout from "@layouts/BaseLayout.astro";
import PageHeading from "@components/blocks/PageHeading.astro";
import Timeline from "@components/blocks/Timeline.astro";
---

<BaseLayout>
  <PageHeading title="About" />
  <Timeline />
  <a href="https://conedevelopment.com" class="btn btn--secondary">Secondary</a>
</BaseLayout>
