---
// import "../styles/global.css";
import "../styles/spruce-css.scss";

//import layout
import Header from "../components/layouts/Header.astro";
import Footer from "../components/layouts/Footer.astro";

//import components
import Accordions from "../components/ui/Accordions.astro";
import Feature from "../components/blocks/Feature.astro";

const accordionInfo = [
  {
    label: "Why Make another CSS framework",
    description:
      "As you may know, there are many CSS frameworks (hundreds of them, and a lot of them are not maintained today). Everybody can choose one that suits their work style or project requirements. So why make another one? It is certainly not because we can do it better but because we want to do it our way. We want to be in control and make decisions.",
  },
  {
    label: "Why Make another CSS framework",
    description:
      "As you may know, there are many CSS frameworks (hundreds of them, and a lot of them are not maintained today). Everybody can choose one that suits their work style or project requirements. So why make another one? It is certainly not because we can do it better but because we want to do it our way. We want to be in control and make decisions.",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <h1>Welcome to Astro</h1>

    <Accordions accordionInfo={accordionInfo} />

    <button type="button" class="btn btn--primary">Primary</button>
    <a href="https://conedevelopment.com" class="btn btn--secondary"
      >Secondary</a
    >

    <Feature />
    <Footer />

    <script>
      (() => {
        document.querySelectorAll(".accordion-card").forEach((accordion) => {
          const heading = accordion.querySelector(".accordion-card__title");
          const button = document.createElement("button");
          const icon = document.createElement("span");

          button.classList.add("accordion-card__toggle");
          button.setAttribute("aria-expanded", "false");

          icon.classList.add("accordion-card__icon");
          icon.innerHTML = `
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
        <line class="vertical-line" x1="12" y1="5" x2="12" y2="19"></line>
        <line class="horizontal-line" x1="5" y1="12" x2="19" y2="12"></line>
      </svg>
    `;

          button.innerHTML = `${heading.textContent} ${icon.outerHTML}`;
          heading.innerHTML = "";
          heading.appendChild(button);

          button.addEventListener("click", () => {
            document
              .querySelectorAll(".accordion-card")
              .forEach((otherAccordion) => {
                const otherButton = otherAccordion.querySelector("button");
                const otherContent = otherAccordion.querySelector(
                  ".accordion-card__content"
                );

                if (otherButton !== button) {
                  otherButton.setAttribute("aria-expanded", "false");
                  otherContent.setAttribute("aria-hidden", "true");
                }
              });

            const expanded = button.getAttribute("aria-expanded") === "true";

            button.setAttribute("aria-expanded", !expanded);
            heading.nextElementSibling.setAttribute("aria-hidden", expanded);
          });
        });
      })();
    </script>
  </body>
</html>
