---
//import layout
import BaseLayout from "@layouts/BaseLayout.astro";

//components
import CTA from "@components/blocks/CTA.astro";
import NumberCard from "@components/blocks/NumberCard.astro";
import ServicesCard from "@/components/blocks/ServicesCard.astro";

import Alerts from "@/components/ui/Alerts.astro";
import Loader from "@/components/ui/Loader.astro";
---

<BaseLayout>
  <Loader />
  <section class="section">
  <h2 class="section-title">Our Services</h2>
    <ServicesCard />
  </section>
  <section class="section" data-scroll-animate>
    <h2 class="section-title" data-scroll-animate>Our Achievements</h2>
    <NumberCard />
  </section>
  <CTA />
</BaseLayout>
</BaseLayout>

<script>
document.addEventListener('DOMContentLoaded', function() {
});
</script>
