---
//import layout
import BaseLayout from "@layouts/BaseLayout.astro";

//components
import CTA from "@components/blocks/CTA.astro";
import NumberCard from "@components/blocks/NumberCard.astro";
---

<BaseLayout>
  <button type="button" class="btn btn--primary">Primary</button>
  <a href="https://conedevelopment.com" class="btn btn--secondary">Secondary</a>
  <NumberCard />
  <CTA />
</BaseLayout>

<script>
document.addEventListener('DOMContentLoaded', function() {
});
</script>
