@use 'sprucecss/scss/spruce' as *;

.section {
  padding-block: spacer-clamp('xl', 'xxl');

  &-title {
    font-size: font-size('h2');
    font-weight: 600;
    margin-block-end: spacer('l');
    text-align: center;
  }
}

.scroll-animation {
    [data-scroll-animate] {
        transform: translateY(1rem);
        opacity: 0;
        transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);

        &.scroll-animated {
            transform: translateY(0);
            opacity: 1;
        }

        &:nth-child(1)  { transition-delay: 50ms;  }
        &:nth-child(2)  { transition-delay: 125ms; }
        &:nth-child(3)  { transition-delay: 200ms; }
        &:nth-child(4)  { transition-delay: 275ms; }
        &:nth-child(5)  { transition-delay: 350ms; }
        &:nth-child(6)  { transition-delay: 425ms; }
        &:nth-child(7)  { transition-delay: 500ms; }
        &:nth-child(8)  { transition-delay: 575ms; }
        &:nth-child(9)  { transition-delay: 650ms; }
        &:nth-child(10) { transition-delay: 725ms; }
        &:nth-child(11) { transition-delay: 800ms; }
        &:nth-child(12) { transition-delay: 875ms; }
    }
}